section.advantages.section-indent
  .site-container.advantages__container.grid-container
    .grid-container__block
    .grid-container__block
      h2.advantages__heading.site-second-heading Основные преимущества
      .advantages__slider.js-section
        .advantages__slider-inner.js-section-wrapper
          - for (let i = 0; i<9; i++)
            .advantages__item
              .advantages__item-top
                img.advantages__item-img(src=`images/advantages/img${i}.svg` alt="")
              p.advantages__item-txt Высокое Высокое
