section.top-offset.section-indent.page-about-intro
  .site-container.page-about-intro__container.grid-container
    .grid-container__block
    .grid-container__block
      img.page-about-intro__image(src="images/page-about/logo.svg" alt="Логотип компании")
      .page-about-intro__bottom-grid-blocks
        ._block
        ._block
          span.page-about-intro__legend
            span._mobile Lumien -
            | это качество
          .page-about-intro__legend-text
            p
              | Lumien известный бренд, имя которого устойчиво ассоциируется у пользователей с надежностью и качеством
