main.page-main.main
  include intro.pug
  include section-text.pug
  include section-nubmers.pug
  include section-gallery.pug
  include section-info.pug
  include advantages.pug
  include page-about-slider.pug
  include ../../parts/form.pug
