section.section-indent.page-about-info
  .site-container.grid-container.page-about-info__container
    .grid-container__block
    .grid-container__block.page-about-info__content-container
      ._block
        h2.page-about-info__heading.site-second-heading
          | <b>Lumien</b> – международный бренд, поставляющий профессиональное оборудование для визуализации:
        .page-about-info__content
          ul.page-about-info__list
            li.page-about-info__item Интерактивных дисплеев
            li.page-about-info__item Проекционных экранов
            li.page-about-info__item Презентационной мебели
          .page-about-info__video.js-play-video(data-video-url="https://www.youtube.com/watch?v=WsDyRAPFBC8")
            .page-about-info__video-caption
              | Видео с нашего производства
            img(src="images/page-about/gallery.jpg" alt="")
          h3
            | Наибольшую известность бренд  получил благодаря широкому ассортименту проекционных экранов
          p
            | За годы развития Lumien сформировал полный модельный ряд, включающий в себя <b>встраиваемые</b>, <b>рулонные ручные</b>, <b>мобильные экраны</b>, <b>натяжные экраны на раме</b>, а также решения для <b>крупных инсталляций</b> и с <b>функцией отражения внешней засветки</b>.
          img(src="images/page-about/gallery.jpg" alt="")
          h3
            | Интерактивные дисплеи <b>Lumien</b> – это профессиональное оборудование  последнего поколения
          p
            | Поддержка технологии мультитач (до 20 касаний), огромным количеством функций и потрясающим качеством изображения. Высокотехнологичные производственные мощности размещены в КНР и РФ и строго отвечают всем требованиям международных стандартов.
          img(src="images/page-about/gallery1.jpg" alt="")

      ._block
