section.section-indent.about-company.page-about-numbers
  .site-container.about-company__container.grid-container
    .grid-container__block
    .grid-container__block
      h2.site-second-heading.about-company__heading
        |	Ключевые показатели
      ul.about-company__list
        li.about-company__item
          span.about-company__num
            |	250+
          p.about-company__txt
            |	лояльных партнёров
        li.about-company__item
          span.about-company__num
            |	12
          p.about-company__txt
            |	лет на рынке
        li.about-company__item
          span.about-company__num
            |	30+
          p.about-company__txt
            |	моделей
        li.about-company__item
          span.about-company__num
            |	34 000
          p.about-company__txt
            |	м2 производственных площадей
