section.section-indent.page-about-text
  .site-container.grid-container
    .grid-container__block
    .grid-container__block
      h4.page-about-text__content-heading.site-second-heading
        | Вся продукция под торговой маркой <b>Lumien</b>, подвергается строгому контролю на всех этапах производства
      .page-about-text__content
        p
          | Заводы-изготовители, выпускающие продукцию Lumien, уже не одно десятилетие производят высококачественное профессиональное AV-оборудование и сертифицированы по международным стандартам качества ISO14001/9001.
        p
          | Специалисты отдела научно-технических исследований и развития уделяют большое внимание совершенствованию своего продукта и воплощают в нем последние тенденции AV-рынка.

section.section-indent.page-about-image
    .site-container.grid-container.page-about-image__container
      .grid-container__block
      .grid-container__block
        img(src="images/page-about/img-bg.jpg" alt="" class="page-about-image__bg-img")
        p
          | Головной офис бренда Lumien
