-
  let accessories = [
    {
      imgs: ["accessories-img1", "accessories-img2", "accessories-img3"],
      name: "Eco Control",
      txt: "Экономичный моторизованный экран для крепления на стену или потолок",
      button: true,
    },
    {
      imgs: ["accessories-img2", "accessories-img3", "accessories-img1"],
      name: "Cinema Thin Bezel",
      txt: "Натяжной экран c тонкой рамой толщиной 1 см",
      button: true,
    },
    {
      imgs: ["accessories-img3", "accessories-img1", "accessories-img2"],
      name: "Cinema Control",
      txt: "Экран для домашнего кинотеатра с электроприводом",
      button: true,
    },
    {
      imgs: ["accessories-img1", "accessories-img2", "accessories-img3"],
      name: "Master Wire Control",
      txt: "Электроприводные экраны на прочных стальных тросах, которые могут опускать экран до 5 метров",
      button: true,
    },
    {
      imgs: ["accessories-img2", "accessories-img3", "accessories-img1"],
      name: "Master Wire Control",
      txt: "Электроприводные экраны на прочных стальных тросах, которые могут опускать экран до 5 метров",
      button: true,
    },
  ]

+slider-equipment("Аксессуары", accessories)(class="mod-full-width" data-count-sliders="4")
