main.page-main.main
  section.top-offset
    .site-container
      +breadcrumbs([['Главная', "/"], ['Каталог', "/"], ['Экраны', "/"], ['Cinema Tensioned Control']])(class="intro__breadcrumbs")
  include intro-product.pug
  include edge.pug
  include product-info.pug
  include product-advantages.pug
  include cases.pug
  include accessories.pug
  include models.pug
  include ../../parts/form.pug
