-
  let carts = [
    {
      imgs: ["img1", "img2"],
      tags: [{name: "Новинка", new: true}],
      name: "Eco Control",
      txt: "Экономичный моторизованный экран для крепления на стену или потолок",
      feats: ["Ширина экрана(см) 171–300", "Угол обзора 160°"]
    },
    {
      imgs: ["img2", "img1"],
      tags: [{name: "Натяжные на раме"}],
      name: "Cinema Thin Bezel",
      txt: "Натяжной экран c тонкой рамой толщиной 1 см",
      feats: ["Ширина экрана(см) 178–354", "Угол обзора 160°"]
    },
    {
      imgs: ["img2", "img1"],
      tags: [{name: "Натяжные на раме"}],
      name: "Cinema Control",
      txt: "Экран для домашнего кинотеатра с электроприводом",
      feats: ["Ширина экрана(см) 177–352", "Угол обзора 160°"]
    },
    {
      imgs: ["img2", "img1"],
      tags: [{name: "Натяжные на раме"}],
      name: "Master Wire Control",
      txt: "Электроприводные экраны на прочных стальных тросах, которые могут опускать экран до 5 метров",
      feats: ["Ширина экрана(см) до 4000", "Угол обзора 160°"]
    },
    {
      imgs: ["img2", "img1"],
      tags: [{name: "Натяжные на раме"}],
      name: "Master Wire Control",
      txt: "Электроприводные экраны на прочных стальных тросах, которые могут опускать экран до 5 метров",
      feats: ["Ширина экрана(см) до 4000", "Угол обзора 160°"]
    },
  ]

+slider-equipment("Похожие модели", carts)(class="mod-full-width" data-count-sliders="4")
