.faq {
  &__content {
    display: grid;
    grid-template-columns: repeat(10,1fr);
    gap: var(--grid-offset);
  }

  &__content-block {
    &:nth-child(1) {
      grid-column: 8 span;
    }

    &:nth-child(2) {
      grid-column: 2 span;
    }

    @include mq(lg) {
      grid-column: 10 span !important;
    }
  }

  &__txt {
    font: var(--font-body-M);
    color: var(--text-color);
    max-width: 78.5rem;
    margin-bottom: 10rem;

    @include mq(sm) {
      font: var(--font-body-S);
      margin-bottom: 5.6rem;
    }
  }

  &__mobile-btn {
    display: none;
    width: 100%;
    padding: 2.6rem;

    @include mq(sm) {
      display: block;
      margin-top: 2.5rem;
    }
  }

  .accordion-list {
    @include mq(sm) {
      .accordion {
        &:nth-child(n + 5) {
          display: none;
        }
      }

      &.is-active {
        .accordion {
          &:nth-child(n + 4) {
            display: block;
          }
        }
      }
    }
  }
}
