section.top-offset.included-page.section-indent
  .site-container.grid-container
    .grid-container__block
    .grid-container__block
      h1.site-heading.section-heading-offset Дилерам
      .included-page__text
        p
          | Для того чтобы стать нашим дилером, заполните электронную форму ниже. Мы свяжемся с вами в ближайшее время.
