-
  let cases_arr = [
    {
      img: "img1",
      tag: "Домашние развлечения",
      name: "Актовый зал дома молодёжи «Пулковец»",
      loacatin: "г. Санкт-Петербург",
      txt: "Функциональность и дизайн проекционных экранов Lumien помогает усовершенствовать обустройства современных баров и ресторанов"
    },
    {
      img: "img2",
      tag: "Домашние развлечения",
      name: "Центр Здоровья Verba Mayr",
      loacatin: "г. Санкт-Петербург",
      txt: "Функциональность и дизайн проекционных экранов Lumien помогает усовершенствовать обустройства современных баров и ресторанов"
    },
    {
      img: "img3",
      tag: "Домашние развлечения",
      name: "Школа №525 Московского района",
      loacatin: "г. Санкт-Петербург",
      txt: "Функциональность и дизайн проекционных экранов Lumien помогает усовершенствовать обустройства современных баров и ресторанов"
    },
  ]

section.section-indent.top-offset.search-results
  .site-container.grid-container
    .grid-container__block
    .grid-container__block
      h1.search-results__heading.site-heading.section-heading-offset Что вам интересно?
  .site-container.grid-container.search-results__container
    .search-results__container-block
      form.search-results__form
        .search-results__form-inner
          label.search-results__input-label
            +icon-mono("search")(class="search-results__input-label-icon" width="22" height="22")
            input(type="text" class="input search-results__input" placeholder="Задайте свой вопрос..." name="q")
          button.button-reset.search-results__form-btn(type="submit") Найти
        .search-results__form-labels
          +content-btn("Каталог", "type", "catalog", "", "checked")
          +content-btn("Кейсы", "type", "cases", "",)
          +content-btn("Новости", "type", "news", "",)
    .search-results__container-block
  .site-container.search-results__results
    h3.search-results__legend По вашему запросу найдено 3 кейса
    .cards-preloader
      .card-prealoder
        .card-prealoder__top
        .card-prealoder__bottom
          .card-prealoder__heading
          .card-prealoder__text
          .card-prealoder__text2
          .card-prealoder__text3
      .card-prealoder
        .card-prealoder__top
        .card-prealoder__bottom
          .card-prealoder__heading
          .card-prealoder__text
          .card-prealoder__text2
          .card-prealoder__text3
      .card-prealoder
        .card-prealoder__top
        .card-prealoder__bottom
          .card-prealoder__heading
          .card-prealoder__text
          .card-prealoder__text2
          .card-prealoder__text3

    .search-results__results-container.grid-container
      for item in cases_arr
        .search-results__results-item
          +cases(item.img, item.tag, item.name, item.loacatin, item.txt)

      .search-results__results-item
      .search-results__results-item
