main.page-main.main
  section.error-page(style="background-image: url(images/error-page/error-page.jpg)")
    .error-page__block
      .error-page__block-item
        .error-page__heading._mobile К сожалению, такой страницы не существует
      .error-page__block-item
        p.error-page__block-error 404
        span.error-page__block-error-text ошибка
      .error-page__block-item
        h1.error-page__heading К сожалению, такой страницы не существует
        a.button.error-page__btn(href="/") на главную
