@font-face {
	font-weight: 400;
	font-family: "Golos";
	font-style: normal;
	font-display: swap;
	src:
		url("../assets/fonts/Golos-Text-Regular.woff2") format("woff2"),
		url("../assets/fonts/Golos-Text-Regular.woff") format("woff");
}

@font-face {
	font-weight: 500;
	font-family: "Golos";
	font-style: normal;
	font-display: swap;
	src:
		url("../assets/fonts/Golos-Text-Medium.woff2") format("woff2"),
		url("../assets/fonts/Golos-Text-Medium.woff") format("woff");
}

@font-face {
	font-weight: 300;
	font-family: "Manrope";
	font-style: normal;
	font-display: swap;
	src:
		url("../assets/fonts/Manrope-Light.woff2") format("woff2"),
		url("../assets/fonts/Manrope-Light.woff") format("woff");
}

@font-face {
	font-weight: 400;
	font-family: "Manrope";
	font-style: normal;
	font-display: swap;
	src:
		url("../assets/fonts/Manrope-Regular.woff2") format("woff2"),
		url("../assets/fonts/Manrope-Regular.woff") format("woff");
}

@font-face {
	font-weight: 500;
	font-family: "Manrope";
	font-style: normal;
	font-display: swap;
	src:
		url("../assets/fonts/Manrope-Medium.woff2") format("woff2"),
		url("../assets/fonts/Manrope-Medium.woff") format("woff");
}

@font-face {
	font-weight: 600;
	font-family: "Manrope";
	font-style: normal;
	font-display: swap;
	src:
		url("../assets/fonts/Manrope-Semibold.woff2") format("woff2"),
		url("../assets/fonts/Manrope-Semibold.woff") format("woff");
}

@font-face {
	font-weight: 700;
	font-family: "Manrope";
	font-style: normal;
	font-display: swap;
	src:
		url("../assets/fonts/Manrope-Bold.woff2") format("woff2"),
		url("../assets/fonts/Manrope-Bold.woff") format("woff");
}