.catalog-inner {
  &__btn {
    display: block;
    width: 100%;
    margin-bottom: 7rem;

    @include mq(sm) {
      margin-bottom: 5rem;
    }
  }

  .grid-container__block {
    &:nth-child(1) {
      @include mq(lg) {
        display: none;
      }
    }
  }

  &__text {
    font: var(--font-body-S);

    @include mq(sm) {
      font: var(--font-body-XS);
    }
  }

  &__List {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 5rem var(--grid-offset);
    margin-bottom: 5rem;

    @include mq(md) {
      grid-template-columns: repeat(6, 1fr);
    }
  }

  &__item {
    grid-column: 3 span;
    min-width: 0;

    .cart__feautures,
    .cart__txt {
      max-width: 80%;

      @include mq(sm) {
        max-width: 100%;
      }
    }

    @include mq(md) {
      grid-column: 3 span;
    }

    @include mq(sm) {
      grid-column: 6 span;
    }
  }

  &__item-help {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    overflow: hidden;
    padding: 5rem;

    @include mq(sm) {
      padding: 5rem 2.8rem;
    }

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      background: conic-gradient(from 129.58deg at 13.2% 89.45%, #FF1D89 0deg, #FEF28A 31.02deg, #FF971D 258.75deg, #FF1D89 360deg);
      opacity: 0.4;
      content: "";
    }

    &::after {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 21.3rem;
      height: 40.4rem;
      background-image: url(../images/catalog/help-question2.png);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      content: "";

      @include mq(sm) {
        width: 13.3rem;
        height: 25.4rem;
      }
    }
  }

  &__item-help-legend {
    font: var(--font-title-3);
    margin-bottom: 3rem;

    @include mq(sm) {
      font: var(--font-title-5);
      margin-bottom: 2.5rem;
    }
  }

  &__item-help-txt {
    font: var(--font-body-S);
    margin-bottom: 2rem;

    @include mq(sm) {
      font: var(--font-body-XS);
      margin-bottom: 5rem;
    }
  }

  &__item-help-more {
    text-transform: uppercase;
    margin-top: auto;
    font: var(--font-body-S);

    @include mq(sm) {
      font: var(--font-body-XS);
      color: var(--color-accent);
    }
  }
}
