main.page-main.main
  section.top-offset.section-indent.policy
    .site-container.grid-container
      .grid-container__block
      .grid-container__block.policy__content.site-content
        .policy__content-block
          h1.site-second-heading.policy__heading Политика <br> конфиденциальности
          h5
            | Присоединяясь к настоящему Соглашению и оставляя свои данные на сайте
            a(href="/")
              |  lumien.ru
            | ,  (далее – Сайт), путем заполнения полей онлайн-заявок (регистраций, форм обратной связи, запросов и т.д.) Пользователь:
          ul
            li Подтверждает, что все указанные им данные принадлежат лично ему;
            li Подтверждает и признает, что им внимательно в полном объёме прочитано Соглашение и условия обработки его персональных данных, указываемых им в полях онлайн заявок, текст соглашения и условия обработки персональных данных ему понятны;
            li Подтверждает, что все указанные им данные принадлежат лично ему;
            li Подтверждает и признает, что им внимательно в полном объёме прочитано Соглашение и условия обработки его персональных данных, указываемых им в полях онлайн заявок, текст соглашения и условия обработки персональных данных ему понятны;
            li Дает согласие на обработку Сайтом предоставляемых в составе информации персональных данных в целях заключения между ним и Сайтом настоящего Соглашения, а также его последующего исполнения;
            li Выражает согласие с условиями обработки персональных данных без оговорок и ограничений
          p
            | Пользователь даёт своё согласие на обработку его персональных данных, а именно, совершение действий, предусмотренных п. 3 ч. 1 ст. 3 Федерального закона от 27.07.2006 N 152-ФЗ «О персональных данных», и подтверждает, что, давая такое согласие, он действует свободно, своей волей и в своём интересе. Согласие Пользователя на обработку персональных данных является конкретным, информированным и сознательным.
          h5 Настоящее согласие Пользователя признается исполненным в простой письменной форме, на обработку следующих персональных данных:
          ul
            li Фамилии;
            li Имени;
            li Отчества;
            li Года рождения;
            li Места пребывания (город, область);
            li Номерах телефонов;
            li Адресах электронной почты (email).
          h5
            | Пользователь предоставляет
            a(href="/")  lumien.ru
            |  право осуществлять следующие действия (операции) с персональными данными:
          ul
            li Cбор и накопление;
            li Хранение в течение установленных нормативными документами сроков хранения отчётности, но не менее трёх лет, с момента даты прекращения пользования услуг Пользователем;
            li Уточнение (обновление, изменение);
            li Использование
            li Уничтожение
            li Обезличивание
            li Передача по требованию суда, в т. ч., третьим лицам, с соблюдением мер, обеспечивающих защиту персональных данных от несанкционированного доступа.
          p
           |  Указанное согласие действует бессрочно с момента предоставления данных и может быть отозвано вами путём подачи заявления администрации сайта с указанием данных, определённых ст. 14 Закона «О персональных данных». Отзыв согласия на обработку персональных данных может быть осуществлён путём направления Пользователем соответствующего распоряжения в простой письменной форме на адрес электронной почты (email)
           a(href="mailto:info@lumien.ru")  info@lumien.ru.
          p
            | Сайт не несёт ответственности за использование (как правомерное, так и неправомерное) третьими лицами Информации, размещённой Пользователем на сайте, включая её воспроизведение и распространение, осуществлённые всеми возможными способами
          p
            | Сайт имеет право вносить изменения в настоящее Соглашение. При внесении изменений в актуальной редакции указывается дата последнего обновления. Новая редакция Соглашения вступает в силу с момента её размещения, если иное не предусмотрено новой редакцией Соглашения.
          p
            | К настоящему Соглашению и отношениям между пользователем и сайтом, возникающим в связи с применением Соглашения, подлежит применению право Российской Федерации.
        .policy__content-block

  include ../../parts/form.pug
