- const siteVersion = "8.3.7.4"
- const siteName = "Lumien"
- const siteDescr = "Lumien предлагает широкий выбор высококачественного оборудования для визуализации: интерактивные панели, проекционные экраны и презентационная мебель. Продукция Lumien подвергается строгому контролю на всех этапах производства"
