.cart {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem;

  @include mq(sm) {
    padding: 1.5rem;
  }

  &__top {
    margin-bottom: 2.2rem;
    display: flex;
    align-items: center;
    gap: 0.6rem 1.2rem;
    flex-wrap: wrap;

    @include mq(sm) {
      margin-bottom: 1.5rem;
    }
  }

  &__tag {
    display: inline-block;
    padding: 0.2rem 0.5rem;
    border-radius: 2rem;
    border: 1px solid var(--border-color);
    color: var(--border-color);
    font: var(--font-body-XXS);
    flex-shrink: 0;

    &._new {
      background-color: var(--color-accent);
      color: var(--color-white);
      border-color: var(--color-accent);
    }

    &._sale {
      background-color: var(--color-purple);
      color: var(--color-white);
      border-color: var(--color-purple);
    }
  }

  &__bottom {
    flex-grow: 1;
  }

  &__img {
    display: block;
    width: auto;
    height: 22.5rem;
    object-fit: contain;
    margin: 0 auto;

    @include mq(sm) {
      height: 12.6rem;
    }
  }

  &__img-slider {
    margin-bottom: 2rem;
  }

  &__img-pagination {
    position: static;
    top: auto;
    left: auto;
    bottom: auto;
    right: auto;

    .swiper-pagination-bullet {
      width: 0.6rem;
      height: 0.6rem;
      background: transparent;
      border: 1px solid rgba(0, 0, 0, 0.38);
      opacity: 1;

      &.swiper-pagination-bullet-active {
        background-color: var(--color-dark);
      }
    }
  }

  &__name {
    font: var(--font-title-4);
    margin-bottom: 1.5rem;
    transition: color var(--transition);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;

    @include mq(sm) {
      font: var(--font-title-mobile);
    }
  }

  &__txt {
    font: var(--font-body-S);
    color: var(--text-color);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;

    @include mq(sm) {
      font: var(--font-body-XXS);
    }
  }

  &__feautures {
    display: flex;
    justify-content: space-between;
    margin-top: 1.7rem;

    @include mq(sm) {
      margin-top: 1.9rem;
    }
  }

  &__feautures-item {
    display: inline-block;
    max-width: 14.8rem;
    font: var(--font-body-XS);
    color: rgba($color: #626262, $alpha: 0.5);

    @include mq(sm) {
      font: var(--font-body-XXS);
      max-width: 11.7rem;
    }
  }

  &__btn {
    width: 100%;
    margin-top: 2.3rem;
    padding: 1.4rem 2.9rem;
  }

  &.mod-search {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    .cart__top {
      width: 100%;
    }

    .cart__middle {
      width: 23.7rem;
      height: 13.9rem;
      margin-right: 2.5rem;
    }

    .cart__img-slider {
      margin: 0;
    }

    .cart__img-pagination {
      display: none;
    }

    .cart__bottom {
      width: calc(100% - 26.2rem);
    }

    .cart__img {
      width: 100%;
      height: 100%;
    }
  }

  &:hover {
    .cart__name {
      color: var(--color-accent);
    }
  }
}
