.catalog-cart {
  position: relative;
  z-index: 2;
  padding: 5.5rem;
  border: 1px solid var(--border-color2);
  border-radius: 2rem;
  min-height: 40rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;

  @include mq(lg) {
    padding: 3.5rem;
  }

  @include mq(md) {
    min-height: 36rem;
  }

  @include mq(sm) {
    min-height: 20.2rem;
    padding: 2.5rem;
  }

  --heading-color: var(--color-dark);
  --text-color: var(--color-dark);
  --btn-color: var(--color-accent);

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(179.96deg, rgba(82, 81, 224, 0.67) 0.03%, #EBEBEB 99.97%);
    opacity: 0;
    transition: opacity var(--transition);
    content: "";
  }

  &:hover {
    &::before {
      opacity: 1;
    }

    --heading-color: var(--color-white);
    --text-color: var(--color-rgba-white-07);
    --btn-color: var(--color-purple);
  }

  &:focus {
    &::before {
      opacity: 1;
    }

    --heading-color: var(--color-white);
    --text-color: var(--color-rgba-white-07);
    --btn-color: var(--color-purple);
  }

  &__heading {
    font: var(--font-title-3);
    margin-bottom: 2rem;
    max-width: 47.1rem;
    color: var(--heading-color);
    transition: color var(--transition);

    @include mq(lg) {
      font: var(--font-title-4);
    }

    @include mq(sm) {
      font: var(--font-title-mobile);
      max-width: 14.3rem;
      // overflow-wrap: normal;
      word-wrap: break-word;
      // word-break: break-all;
      // line-break: auto;
      hyphens: auto;
    }
  }

  &__txt {
    font: var(--font-body-S);
    max-width: 35.6rem;
    color: var(--text-color);
    transition: color var(--transition);

    @include mq(lg) {
      max-width: 25.6rem;
    }

    @include mq(md) {
      max-width: 50%;
    }

    @include mq(sm) {
      display: none;
    }
  }

  &__link {
    margin-top: auto;
    font: var(--font-btn);
    text-transform: uppercase;
    color: var(--btn-color);
    transition: color var(--transition);

    @include mq(sm) {
      font: var(--font-body-XXS);
    }
  }

  &__img {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 26.9rem;
    height: 28.8rem;
    object-fit: cover;
    mix-blend-mode: darken;

    @include mq(lg) {
      width: 18.9rem;
      height: 20.8rem;
    }

    @include mq(md) {
      width: 24.9rem;
      height: 26.8rem;
    }

    @include mq(sm) {
      width: 13.9rem;
      height: 15rem;
    }
  }
}
