.footer {
  background-color: var(--color-dark);
  padding: 9.4rem 0 3.4rem;
  color: var(--color-white);

  @include mq(sm) {
    padding: 5rem 0 6rem;
  }

  &__container {
    margin-bottom: 12.4rem;

    @include mq(lg) {
      gap: 5rem var(--grid-offset);
    }

    @include mq(sm) {
      gap: 5rem 0;
      margin-bottom: 5rem;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;


    &:nth-child(5) {
      grid-column: 3 span;
    }

    &:nth-child(3) {
      grid-column: 3 span;
    }


    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(4) {
      grid-column: 2 span;
    }

    @include mq(lg) {
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5) {
        grid-column: 3 span;
      }

      &:nth-child(1) {
        grid-column: 12 span;
      }
    }

    @include mq(sm) {
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4) {
        display: none;
      }

      &:nth-child(5) {
        grid-column: 12 span;
      }
    }
  }

  &__legend {
    font: var(--font-title-4-semibold);

    @include mq(sm) {
      display: none;
    }
  }

  &__legend-height {
    display: block;
    margin-bottom: 2.5rem;

    @include mq(sm) {
      display: none;
    }
  }

  &__small-legend {
    font: var(--font-body-S);
    color: var(--color-rgba-white-06);
  }

  &__item {
    margin-bottom: 3rem;

    &:first-child {
      margin-bottom: 3.5rem;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    &:hover {
      color: var(--color-accent);
    }
  }

  &__nav-small-item {
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__nav-small-link {
    &:hover {
      color: var(--color-accent);
    }
  }

  &__copyright {
    display: flex;
    align-items: center;
    padding-top: 3.1rem;
    border-top: 1px solid var(--color-rgba-white-04);

    p {
      color: var(--color-rgba-white-06);
      font: var(--font-body-XS);
      margin-right: 8rem;
    }

    @include mq(sm) {
      flex-direction: column;
      align-items: flex-start;
      padding-top: 5rem;

      p, a {
        margin: 0;
        margin-bottom: 2rem;
      }

      a {
        &:nth-last-of-type(1) {
          margin-bottom: 0;
        }
      }
    }
  }

  &__copyright-link {
    display: flex;
    align-items: center;
    color: var(--color-rgba-white-06);
    font: var(--font-body-XS);
    margin-right: 8rem;

    .icon {
      margin-left: 0.9rem;
      transform: translateY(4px);
    }

    &:nth-last-of-type(1) {
      margin-right: 0;
    }

    &:hover {
      color: var(--color-accent);
    }
  }

  &__form {
    flex-shrink: 0;
    width: 100%;
  }

  &__form-label {
    position: relative;
    display: block;
    width: 100%;
    height: 5.8rem;

    .parsley-errors-list {
      position: absolute;
      bottom: 0;
      right: 0.5rem;
      z-index: 2;
      color: red;
      font: var(--font-body-XS);
    }
  }

  &__form-btn {
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    width: 2.4rem;
    height: 2.4rem;
    cursor: pointer;

    @include mq(sm) {
      width: 2rem;
      height: 2rem;
    }
  }

  &__form-btn-icon {
    width: 100%;
    height: 100%;
    fill: var(--color-white);
    cursor: pointer;
  }

  &__input {
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.15);
    padding: 1.5rem 4rem 1.5rem 2rem;
    color: rgba(255, 255, 255, 0.7);
    height: 100%;
    width: 100%;
    border: none;
    font: var(--font-body-M);

    &::placeholder {
      font: var(--font-body-M);
      color: rgba(255, 255, 255, 0.7);

      @include mq(sm) {
        font: var(--font-body-S);
      }
    }

    @include mq(sm) {
      font: var(--font-body-S);
    }
  }

  &__adress {
    margin-bottom: 2rem;
  }

  &__tel {
    margin-bottom: 0.6rem;

    &:hover {
      color: var(--color-accent);
    }
  }

  &__subscribe {
    padding-bottom: 7rem;
    margin-bottom: 9rem;
    border-bottom: 1px solid var(--color-rgba-white-05);

    @include mq(sm) {
      padding-bottom: 5rem;
      margin-bottom: 5rem;
    }
  }

  &__subscribe-heading {
    color: var(--color-white);
    font: var(--font-title-2);

    @include mq(lg) {
      max-width: 70%;
    }

    @include mq(lg) {
      max-width: 100%;
      font: var(--font-title-mobile-3);
    }
  }

  &__subscribe-content {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: var(--grid-offset);

    @include mq(sm) {
      gap: 3rem 0;
    }
  }

  &__subscribe-content-block {
    &:nth-child(1) {
      grid-column: 5 span;
    }

    &:nth-child(2) {
      grid-column: 3 span;
    }

    @include mq(lg) {
      grid-column: 10 span !important;
    }
  }
}
