.news {
  position: relative;

  &__heading-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4.6rem;

    @include mq(sm) {
      margin-bottom: 3rem;

      .slider-nav {
        display: none;
      }
    }
  }

  &__heading-link-wrapper {
    display: flex;
    align-items: center;

    @include mq(sm) {
      justify-content: space-between;
      width: 100%;
    }
  }

  &__heading-link {
    display: inline-block;
    font: var(--font-body-S);
    text-transform: uppercase;
    color: var(--color-accent);
    margin-left: 1.5rem;

    @include mq(sm) {
      font: var(--font-body-XS);
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &__list {
    display: flex;
    overflow: visible;
  }
}

.news-card {
  position: relative;
  z-index: 2;
  padding: 2rem;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 25.9rem;
  // background-color: var(--color-purple);
  border-radius: 1.2rem;
  overflow: hidden;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(180.33deg, rgba(255, 255, 255, 0) 30.19%, rgba(0, 0, 0, 0.82) 95.06%);
    content: "";
  }


  &__tag {
    display: block;
    margin-top: auto;
    margin-bottom: 1rem;
    font: var(--font-body-XS);
    font-family: var(--second-ff);
    color: var(--color-rgba-white-05);

    &._category {
      margin-top: 0;
      padding: 0.1rem 0.5rem;
      border-radius: 2rem;
      background-color: var(--color-white);
      color: var(--text-color);
      margin-bottom: 0;
      font: var(--font-body-S);

      @include mq(sm) {
        font: var(--font-body-XS);
      }
    }
  }

  &__heading {
    color: var(--color-white);
    font-size: 1.9rem;
    line-height: 2.6rem;
    height: 7.7rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
