.contacts-intro {
  &__text {
    max-width: 78.5rem;
    margin-bottom: 5rem;
    font-size: 2.8rem;
    line-height: 3.9rem;

    @include mq(sm) {
      font: var(--font-body-M);
      margin-bottom: 3rem;
    }
  }
}
