-
  let cases_page_arr = [
    {
      img: "img1",
      tag: "Домашние развлечения",
      name: "Актовый зал дома молодёжи «Пулковец»",
      loacatin: "г. Санкт-Петербург",
      txt: "Функциональность и дизайн проекционных экранов Lumien помогает усовершенствовать обустройства современных баров и ресторанов"
    },
    {
      img: "img2",
      tag: "Домашние развлечения",
      name: "Центр Здоровья Verba Mayr",
      loacatin: "г. Санкт-Петербург",
      txt: "Функциональность и дизайн проекционных экранов Lumien помогает усовершенствовать обустройства современных баров и ресторанов"
    },
    {
      img: "img3",
      tag: "Домашние развлечения",
      name: "Школа №525 Московского района",
      loacatin: "г. Санкт-Петербург",
      txt: "Функциональность и дизайн проекционных экранов Lumien помогает усовершенствовать обустройства современных баров и ресторанов"
    },
    {
      img: "img4",
      tag: "Домашние развлечения",
      name: "АНО «Корпоративная Академия Росатома»",
      loacatin: "г. Санкт-Петербург",
      txt: "Функциональность и дизайн проекционных экранов Lumien помогает усовершенствовать обустройства современных баров и ресторанов"
    },
    {
      img: "img5",
      tag: "Домашние развлечения",
      name: "Морской государственный университет имени адмирала Г. И. Невельского",
      loacatin: "г. Санкт-Петербург",
      txt: "Функциональность и дизайн проекционных экранов Lumien помогает усовершенствовать обустройства современных баров и ресторанов"
    },
    {
      img: "img6",
      tag: "Домашние развлечения",
      name: "Сеть гостиниц Art Family",
      loacatin: "г. Санкт-Петербург",
      txt: "Функциональность и дизайн проекционных экранов Lumien помогает усовершенствовать обустройства современных баров и ресторанов"
    },
    {
      img: "img7",
      tag: "Домашние развлечения",
      name: "Ульяновский государственный технический университет",
      loacatin: "г. Санкт-Петербург",
      txt: "Функциональность и дизайн проекционных экранов Lumien помогает усовершенствовать обустройства современных баров и ресторанов"
    },
    {
      img: "img8",
      tag: "Домашние развлечения",
      name: "Международный фестиваль видеоарта «Сейчас&Потом»",
      loacatin: "г. Санкт-Петербург",
      txt: "Функциональность и дизайн проекционных экранов Lumien помогает усовершенствовать обустройства современных баров и ресторанов"
    },
    {
      img: "img9",
      tag: "Домашние развлечения",
      name: "Полазненский центр творчества и досуга",
      loacatin: "г. Санкт-Петербург",
      txt: "Функциональность и дизайн проекционных экранов Lumien помогает усовершенствовать обустройства современных баров и ресторанов"
    },
  ]


section.section-indent.cases-page.top-offset
  .site-container.grid-container
    .grid-container__block
    .grid-container__block
      h1.site-heading.section-heading-offset.top-offset__haeding Наши кейсы
  .site-container
    .cases-page__nav.grid-container
      .cases-page__nav-item
        label.cases-page__select-warpper.select-wrapper.custom-select
          select(name="equipment-type" class="select js-custom-select")
            option(value="Выберите модель оборудования" placeholder) Тип оборудования
            option(value="Eco control") Eco control
            option(value="second") second
      .cases-page__nav-item
        label.cases-page__select-warpper.select-wrapper.custom-select
          select(name="equipment-type" class="select js-custom-select")
            option(value="Выберите модель оборудования" placeholder) Сфера применения
            option(value="Eco control") Eco control
            option(value="second") second
    .cases-page__content.grid-container
      for item in cases_page_arr
        .cases-page__content-item
          +cases(item.img, item.tag, item.name, item.loacatin, item.txt)
    button.button-reset.button.mod-transparent.cases-page__more-btn Показать ещё
