extends layout/default.pug

block variables
  - const bodyClass = ""
  - const pageTitle = "К сожалению, такой страницы не существует"
  - const siteLang = "ru"
  - const headerClass = "is-white"
  - const pageName = ""

block content
  include pages/error-page/main.pug
