extends layout/default.pug

block variables
  - const bodyClass = ""
  - const pageTitle = "Наши кейсы"
  - const siteLang = "ru"
  - const headerClass = "is-dark"
  - const pageName = ""

block content
  include pages/cases-page/main.pug
