extends layout/default.pug

block variables
  - const bodyClass = ""
  - const pageTitle = "Детальная кейсы"
  - const siteLang = "ru"
  - const headerClass = "is-dark"
  - const pageName = ""

block content
  include pages/case-detail/main.pug
