extends layout/default.pug

block variables
  - const bodyClass = ""
  - const pageTitle = "Каталог"
  - const siteLang = "ru"
  - const headerClass = "is-dark"
  - const pageName = "siteCatalog"

block content
  include pages/catalog/main.pug
