extends layout/default.pug

block variables
  - const bodyClass = ""
  - const pageTitle = "Каталог дисплеев"
  - const siteLang = "ru"
  - const headerClass = "is-dark"
  - const pageName = "siteCatalog"

block content
  include pages/catalog-screen/main.pug
