extends layout/default.pug

block variables
	- const bodyClass = ""
	- const pageTitle = "Каталог"
	- const siteLang = "ru"
	- const headerClass = "is-dark"

block content
	include pages/common-catalog/main.pug
