extends layout/default.pug

block variables
  - const bodyClass = ""
  - const pageTitle = "Дилерам"
  - const headerClass = "is-dark"
  - const siteLang = "ru"
  - const diller = true

block content
  include pages/diller/main.pug
