extends layout/defaultENG.pug

block variables
  - const bodyClass = ""
  - const pageTitle = "English"
  - const siteLang = "ru"
  - const headerClass = "logo-hidden is-front-page"
  - const pageName = "eng"

block content
  include pages/eng/main.pug
