extends layout/default.pug

block variables
  - const bodyClass = ""
  - const pageTitle = "Вопросы и ответы"
  - const siteLang = "ru"
  - const headerClass = "is-white"
  - const pageName = ""
  - const faq = true

block content
  include pages/faq/main.pug
