extends layout/default.pug

block variables
  - const bodyClass = ""
  - const pageTitle = "Материалы для скачивания"
  - const siteLang = "ru"
  - const headerClass = "is-dark"
  - const pageName = ""

block content
  include pages/files/main.pug
