extends layout/default.pug

block variables
  - const bodyClass = ""
  - const pageTitle = "Глоссарий"
  - const siteLang = "ru"
  - const headerClass = "is-dark"
  - const pageName = ""

block content
  include pages/glossary/main.pug
