extends layout/default.pug

block variables
  - const bodyClass = ""
  - const pageTitle = "Каталог"
  - const siteLang = "ru"
  - const headerClass = "is-dark"
  - const pageName = ""

block content
  include pages/how-choose-screen/main.pug
