extends layout/default.pug

block variables
	- const bodyClass = ""
	- const pageTitle = "Главная"
	- const siteLang = "ru"
	- const headerClass = "is-dark"

block content
	include pages/index/main.pug
