extends layout/default.pug

block variables
  - const bodyClass = ""
  - const pageTitle = "О компании"
  - const siteLang = "ru"
  - const headerClass = "is-white"
  - const pageName = ""

block content
  include pages/page-about/main.pug
