extends layout/default.pug

block variables
  - const bodyClass = ""
  - const pageTitle = "Политика конфиденциальности"
  - const siteLang = "ru"
  - const headerClass = "is-dark"
  - const pageName = ""

block content
  include pages/policy/main.pug
