extends layout/default.pug

block variables
  - const bodyClass = ""
  - const pageTitle = "Страница товара"
  - const siteLang = "ru"
  - const headerClass = "is-dark"
  - const pageName = "product-card"
  - const productCard = true

block content
  include pages/product-card/main.pug
