extends layout/default.pug

block variables
  - const bodyClass = ""
  - const pageTitle = "Поисковая выдача"
  - const siteLang = "ru"
  - const headerClass = "is-dark"
  - const pageName = ""

block content
  include pages/search-results/main.pug
