extends layout/default.pug

block variables
  - const bodyClass = ""
  - const pageTitle = "Сервисное обслуживание"
  - const siteLang = "ru"
  - const headerClass = ""
  - const pageName = ""
  - const service = true

block content
  include pages/service/main.pug
