extends layout/default.pug

block variables
  - const bodyClass = ""
  - const pageTitle = "Детальная страница сферы применения"
  - const siteLang = "ru"
  - const headerClass = "is-white"
  - const pageName = ""

block content
  include pages/spheres-detail/main.pug
