extends layout/default.pug

block variables
  - const bodyClass = ""
  - const pageTitle = "Сферы применения"
  - const siteLang = "ru"
  - const headerClass = ""
  - const pageName = "applications"

block content
  include pages/test/main.pug
