.spheres-detail-intro {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--color-white);
  padding-bottom: 3rem;
  height: 80vh;

  @include mq(lg) {
    height: 74.1rem;
  }

  @include mq(sm) {
    height: 61.1rem;
  }


  &__legend {
    font: var(--font-title-2);
    max-width: 29.3rem;

    @include mq(lg) {
      max-width: 100%;
      font: var(--font-body-M);
      margin-bottom: 4rem;
    }

    @include mq(sm) {
      font: var(--font-body-S);
    }
  }

  &__container {
    @include mq(lg) {
      display: block;
    }
  }

  &__container-block {
    &:nth-child(1) {
      grid-column: 1 span;
    }

    &:nth-child(2) {
      grid-column: 5 span;
    }

    &:nth-child(3) {
      grid-column: 6 span;
    }
  }

  &__heading {
    margin-bottom: 5rem;

    @include mq(sm) {
      margin-bottom: 3.6rem;
    }
  }

  &__text {
    position: relative;
    padding-left: 13.4rem;
    max-width: 64.8rem;
    font: var(--font-body-L);
    font-weight: 400;

    &::before {
      position: absolute;
      top: 1rem;
      left: 0;
      width: 10.7rem;
      height: 0.1rem;
      background-color: rgba($color: #fff, $alpha: 0.5);
      content: "";
    }

    @include mq(md) {
      font: var(--font-body-M);
    }

    @include mq(sm) {
      font: var(--font-body-S);
      padding-left: 7.4rem;

      &::before {
        width: 6.4rem;
      }
    }
  }
}
