.suitable-models {
  &__container {
    @include mq(lg) {
      display: block;
    }
  }

  &__container-block {
    min-width: 0;

    &:nth-child(1) {
      grid-column: 1 span;
    }

    &:nth-child(2) {
      grid-column: 11 span;
    }
  }

  &__heading-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 7rem;

    @include mq(sm) {
      margin-bottom: 5rem;
    }
  }

  &__heading {
    margin-bottom: 5rem;

    @include mq(md) {
      margin-bottom: 3.5rem;
    }
  }

  &__label {
    display: block;
    position: relative;
    cursor: pointer;

    &:last-child {
      .suitable-models__label-name {
        &::before {
          content: none;
        }
      }
    }

    input:checked {
      ~.suitable-models__label-name {
        background-color: #F0F0F0;
        color: var(--color-dark);
      }
    }
  }

  &__slider {
    min-width: 0;
    width: 100%;
    overflow: hidden;
  }

  &__nav {
    @include mq(md) {
      display: none;
    }
  }

  &__slider-nav {
    display: flex;
    align-items: center;
  }

  &__label-name {
    position: relative;
    display: block;
    font: var(--font-body-M);
    padding: 2rem 5rem;
    border-radius: 1.5rem;
    color: var(--border-color);
    transition: background-color var(--transition), color var(--transition);

    &::before {
      position: absolute;
      top: 50%;
      right: 0;
      display: block;
      width: 0.1rem;
      height: 1.8rem;
      background-color: #F0F0F0;
      transform: translateY(-50%);
      content: "";
    }

    @include mq(md) {
      padding: 1.5rem 2rem;
    }
  }

  &__models-container {
    &:not(.mod-show) {
      display: none;
    }
  }
}
