mixin slider-equipment(name, arr)
  section.section-indent.slider-equipment.js-slider-equipment-parent&attributes(attributes)
    .site-container
      .grid-container.slider-equipment__container
        .slider-equipment__container-block
        .slider-equipment__container-block
          .slider-equipment__heading-wrapper
            h2.site-second-heading.slider-equipment__heading!= name
            .slider-nav
              button.slider-nav__btn.button-reset.js-equipment-btn-prev
                +icon-mono("shevron-left")(width="9" height="13" class="slider-nav__btn-icon")
              button.slider-nav__btn.button-reset.js-equipment-btn-next
                +icon-mono("shevron-right")(width="9" height="13" class="slider-nav__btn-icon")
      .grid-container.slider-equipment__container-type2
        .slider-equipment__container-block
        .slider-equipment__container-block
          .slider-equipment__slider.swiper.js-slider-equipment
            .swiper-wrapper
              for item in arr
                .swiper-slide
                  +cart(item.tags, item.imgs, item.name, item.txt, item.feats, item.button)
