-
  let faq_arr = [
    "Можно ли использовать в качестве проекционного экрана белую стену?",
    "Какие высота и ширина должны быть у экрана, если я знаю размеры комнаты для просмотра кино?",
    "Каким должно быть расстояние до экрана, чтобы все зрители могли комфортно воспринимать изображение?",
    "Как управлять экраном с подпружиненным механизмом?",
    "Как управлять экраном с электроприводом?",
    "Идет ли в комплекте с экраном, имеющим электропривод, пульт дистанционного управления?",
    "Как правильно ухаживать за проекционным полотном?",
    "Что делать, если часть экрана при его сворачивании не возвращается в корпус?"
  ]

section.section-indent.faq
  .site-container.grid-container
    .grid-container__block
    .grid-container__block.faq__content
      .faq__content-block
        p.faq__txt
          | Здесь вы найдёте ответы на наиболее часто встречающиеся вопросы по проекционным экранам. Если вы не нашли ответа на свой вопрос, вы можете задать нам его через форму, приведённую внизу страницы.
        ul.accordion-list.js-mobile-list
          for item in faq_arr
            li.accordion
              button.accordion__btn.button-reset.js-drop-menu-btn
                p.accordion__heading= item
                span.accordion__icon
                  span
                  span
              .drop-menu-container.js-drop-menu-container
                .accordion__body.drop-menu.js-drop-menu
                  .accordion__body-text-wrapper.accordion__body-list
                    p
                      | Белая стена часто используется как альтернатива проекционному экрану. И то, и другое выглядит белым, так в чем же разница?
                    ul
                      li Проекционное полотно имеет специальное покрытие, которое обладает уникальными отражающими свойствами. Белая стена лишена таких свойств;
                      li Многие проекционные экраны имеют черную кайму, которая увеличивает воспринимаемую четкость отраженного изображения. Стены такого преимущества не имеют;
                      li Проекционное полотно представляет собой ровную, туго натянутую поверхность, что создает оптимальные условия для показа изображения. Стены не всегда имеют идеальное выравнивание.
                    p
                      | Если вы покупаете проектор для профессиональных презентаций или домашнего кинотеатра, то целесообразно приобрести и проекционной экран, т.к. идеальное изображение вы сможете получить только на нем.
        button.button.faq__mobile-btn.mod-transparent.button-reset.show-more-btn.js-mobile-btn
          span._shown Показать ещё
          span._hidden Скрыть

      .faq__content-block
