section.top-offset.contacts-intro
  .site-container.grid-container
    .grid-container__block
    .grid-container__block
      h1.site-heading.contacts-intro__heading.section-heading-offset Контакты
      p.contacts-intro__text
        | По любым вопросам, в том числе по вопросам приобретения оборудования у ближайшего к вам дилера, вы можете связаться с нами
