section.section-indent.about-company
  .site-container.about-company__container.grid-container
    .grid-container__block
    .grid-container__block
      h2.site-first-heading.about-company__heading.js-animated-heading
        |	О компании
      .about-company__content
        .about-company__content-block
          ul.about-company__list
            li.about-company__item
              span.about-company__num
                |	250+
              p.about-company__txt
                |	лояльных партнёров
            li.about-company__item
              span.about-company__num
                |	30+
              p.about-company__txt
                |	моделей
            li.about-company__item
              span.about-company__num
                |	12
              p.about-company__txt
                |	лет на рынке
        .about-company__content-block
          img.about-company__content-bg-layer.lazy(data-src="images/about-company/bg-img.png" src="#" alt="")
          .about-company__content-info.js-anim-fade-out
            h2 Надёжность и качество бренда
            p Бренд LUMIEN широко известен и устойчиво ассоциируется у пользователей с надёжностью, качеством и разумным ценовым предложением. Специалисты отдела научно-технических исследований и развития уделяют большое внимание совершенствованию своего продукта и воплощают в нем последние тенденции AV-рынка.

            a(href="/") Подробнее
          .about-company__img-wrapper.js-play-video(data-video-url="https://www.youtube.com/watch?v=WsDyRAPFBC8")
            img(data-src="images/about-company/img1.jpg" src="#" class="about-company__img lazy" alt="Надёжность и качество бренда")
