main.page-main.main
  include hero.pug
  include equipment-filter.pug
  include section-catalog.pug
  include spheres.pug
  include advantages.pug
  include about-company.pug
  include news.pug
  include ../../parts/form.pug
