section.section-catalog
  .site-container.section-catalog__container

    .grid-container
      .grid-container__block
      .grid-container__block.section-catalog__heading-content
        .section-catalog__heading-content-block
          h2.site-first-heading.section-catalog__headiong.js-animated-heading Каталог продукции
        .section-catalog__heading-content-block
          .section-catalog__heading-text.js-anim-fade-out
            p
              | Lumien предлагает широкий выбор высококачественного оборудования для визуализации: интерактивные панели, проекционные экраны и&nbsp;презентационная мебель. Продукция Lumien подвергается строгому контролю на&nbsp;всех этапах производства

    .section-catalog__list
      a.section-catalog__item(href="/")
        span.section-catalog__item-btn Проекционные <br> экраны
        img.section-catalog__img(src="images/section-catalog/item1.png" alt="Проекционные экраны")
      a.section-catalog__item(href="/")
        span.section-catalog__item-btn._small Интерактивные <br> дисплеи
        img.section-catalog__img(src="images/section-catalog/item2.png" alt="Интерактивные дисплеи")
      a.section-catalog__item(href="/")
        span.section-catalog__item-btn._small Мебель
        img.section-catalog__img(src="images/section-catalog/item1.png" alt="Мебель")

    a.section-catalog__link.button(href="/")
      span._desctop смотреть все оборудование
      span._mobile смотреть все
