-
  let nav_arr1 = [
    "Домашние развлечения",
    "Бары и рестораны",
    "Музеи и выставки",
    "Образование",
    "VR",
    "Госсектор",
    "Развлекательные площадки",
    "Корпоративные события",
    "Корпоративные события",
    "Корпоративные события",
    "Корпоративные события",
    "Корпоративные события"
  ]

section.section-indent.spheres
  .spheres__slider.swiper
    .swiper-wrapper
      for item, index in nav_arr1
        - let second = index == 1 ? 'img2' : 'img1'
        .spheres__slide-item.swiper-slide(style=`background-image: url(images/spheres-slider/${second}.jpg)`)
          .site-container.grid-container.spheres__container
            .grid-container__block
            .grid-container__block.spheres__content-info
              .spheres__content-info-block
                span.site-second-heading.spheres__second-heading.js-animated-heading Сферы <br> применения
              .spheres__content-info-block
                h2.site-first-heading.spheres__first-heading= item
                .spheres__txt-wrapper
                  p.spheres__txt
                    | Стильные проекционные экраны Lumien предлагают уникальные решения премиального качества для оснащения домашних кинотеатров
                  a.spheres__link(href="/")
                    | Подробнее
  .spheres__nav-container
    .site-container
      button.slider-nav__btn.slider-nav__btn_transparent.spheres__nav-btn.button-reset.js-spheres-btn-prev
        +icon-mono("shevron-left")(width="9" height="13" class="slider-nav__btn-icon")
      .swiper.spheres__nav
        .swiper-wrapper
          for item in nav_arr1
            .spheres__nav-item.swiper-slide= item
      button.slider-nav__btn.slider-nav__btn_transparent.spheres__nav-btn.button-reset.js-spheres-btn-next
        +icon-mono("shevron-right")(width="9" height="13" class="slider-nav__btn-icon")
