section.section-indent.service
  .site-container.grid-container
    .grid-container__block
    .grid-container__block
      .service__content
        p.big-txt
          | Чтобы гарантировать ваше спокойствие, мы предлагаем гарантию производителя на все наши продукты. Если вам нужно воспользоваться гарантией, свяжитесь с нами, и мы окажем вам поддержку. Ниже приведён краткий обзор того, что входит в гарантию и сервисное обслуживание.
        h3
          | Условия обслуживания
        p
          | Гарантия на экраны LUMIEN распространяется на дефекты, возникшие в течение гарантийного срока, который начинается с момента передачи изделия первому потребителю и составляет 12 месяцев.
        h4
          | Гарантия действительна на территории Российской Федерации при соблюдении следующих условий:
        ul
          li Изделие приобреталось на территории Российской Федерации, что должно быть подтверждено документами о покупке
          li Изделие использовалось в соответствии с инструкцией по эксплуатации, идущей в комплекте с изделием
        h4
          | Гарантия недействительна в случае, если:
        ul
          li Были нарушены правила хранения, транспортировки, установки или эксплуатации изделия
          li Изделие имеет механические повреждения
          li Изделие ремонтировалось или подвергалось модификации не в условиях официального СЦ
          li Неисправность изделия вызвана стихийными бедствиями, пожарами, бытовыми или другими факторами, не зависящими от действий изготовителя
        h3
          | Контакты сервисного центра Lumien
        p Москва, Огородный проезд, д.9, корп. 1, пом.№7
        a(href="mailto:service@lumien.ru") service@lumien.ru
        a(href="tel:+74957975775") +7 (495) 797-57-75
        p доб. 377, 378, 390
        p Время работы: будни с 10.00 до 18.00
