section.catalog-intro.top-offset
  .site-container.grid-container
    .grid-container__block
      .catalog-intro__links
        a.catalog-intro__link(href="/") Дисплеи
        a.catalog-intro__link.is-active(href="/") Экраны
        a.catalog-intro__link(href="/") Мебель
    .grid-container__block
      h1.catalog-intro__heading.site-first-heading Проекционные экраны

      include top-filter.pug
      include top-filter2.pug
