button.button-reset.catalog-filter-mobile-btn(data-path="filter")
  span Фильтры
  span.catalog-filter-mobile-btn__icon-wrapper
    +icon-mono("filter")(class="catalog-filter-mobile-btn__icon")

form.catalog-top-filter-categories(action="")
  for item, index in ategories
    label.catalog-top-filter-categories__label
      input(type="checkbox" name=`${item.slug}${index}` value=item.name class="visually-hidden")
      span.catalog-top-filter-categories__name= item.name
      span.catalog-top-filter-categories__close
