-
  let arr = [
    "Каталог",
    "Кейсы",
    "О компании",
    "Дилерам",
    "Новости",
    "Контакты",
  ]

  let arr2 = [
    "Образование",
    "Гос.сектор",
    "Бизнес",
    "Кинотеатры",
    "Домашнее использование",
    "Стадионы и арены",
    "Музеи и выставки",
    "Актовые залы",
    "Бары и рестораны",
    "Гостиничый сектор",
    "VR",
    "Развлекательные площадки"
  ]

  let arr3 = [
    "Как выбрать экран",
    "Материалы для скачивания",
    "Сервисное обслуживание",
    "Глоссарий",
    "FAQ",
    "Регистрация изделий",
  ]

.menu
  .menu_layer
  .menu__container.fix-blocks
    .site-container.grid-container
      .menu__block
        a.logo.menu__logo(href="/")
          +icon-multi("logo")(width="161" height="22" class="logo__icon")
      .menu__block
        .menu__block-inner
          span._bottom-line
          nav.menu__nav.menu__nav_grid-container
            ul.menu__nav-list
              for item in arr
                li.menu__nav-item
                  a.menu__nav-link.menu__legend(href="/")= item
          .menu__nav-container.menu__nav_grid-container
            nav.menu__nav
              a(href="/" class="menu__legend menu__nav-legend") Сферы применения
              ul.menu__nav-grid-list
                for item in arr2
                  li.menu__nav-item-small
                    a.menu__nav-link.menu__legend-small(href="/")= item
            nav.menu__nav
              a(href="/" class="menu__legend menu__nav-legend") Клиентам
              ul.menu__nav-grid-list
                for item in arr3
                  li.menu__nav-item-small
                    a.menu__nav-link.menu__legend-small(href="/")= item
        .menu__download-links-wrapper
          a.menu__download-link(href="/" download)
            | Брошюра
            .menu__download-icon-wrapper
              +icon-mono("dwnld")(class="menu__download-link-icon" width="9" height="13")
          a.menu__download-link(href="/" download)
            | Прайс-лист
            .menu__download-icon-wrapper
              +icon-mono("dwnld")(class="menu__download-link-icon" width="9" height="13")
          a.menu__download-link(href="/" download)
            | Скачать каталог
            .menu__download-icon-wrapper
              +icon-mono("dwnld")(class="menu__download-link-icon" width="9" height="13")
      .menu__block
        button.button-reset.menu__close-btn.js-close-menu-btn
          +icon-mono("cross")(class="menu__close-btn-icon" width="13" height="13")

