.modal__container.site-modal(data-target="success")
  .modal__conten.site-modal__content
    button.button-reset.site-modal__close.modal-close
      span
      span
    .site-modal__succes-heading.site-heading
      | Ваша заявка успешно отправлена!
    p.site-modal__text
      | В ближайшее время с вами свяжется наш менеджер, что бы обсудить детали
    button.button.site-modal__btn.modal-close
      | отлично

.modal__container.site-modal(data-target="successEmail")
  .modal__conten.site-modal__content
    button.button-reset.site-modal__close.modal-close
      span
      span
    .site-modal__succes-heading.site-heading
      | Спасибо! Вы отправили заявку на нашу
      <br>
      | рассылку новостей.
    p.site-modal__text
      | Для завершения подписки проверьте
      <br>
      | Вашу почту
    button.button.site-modal__btn.modal-close
      | отлично


.modal__container.site-modal._error-modal(data-target="errorModal")
  .modal__conten.site-modal__content
    button.button-reset.site-modal__close.modal-close
      span
      span
    .site-modal__succes-heading.site-heading
      | Извините, что-то пошло не так!
    p.site-modal__text
      | Повторите отправку формы или немного подождите
    button.button.site-modal__btn.modal-close
      | ПОВТОРИТЬ
