.modal__container.site-modal(data-target="success")
  .modal__conten.site-modal__content
    button.button-reset.site-modal__close.modal-close
      span
      span
    .site-modal__succes-heading.site-heading
      | Ваша заявка успешно отправлена!
    p.site-modal__text
      | В ближайшее время с вами свяжется наш менеджер, что бы обсудить детали
    button.button.site-modal__btn.modal-close
      | отлично
