.modal__container.site-modal._callback(data-target="callback")
  .modal__conten.site-modal__content
    button.button-reset.site-modal__close.modal-close(type="button")
      span
      span
    .site-modal__from-ok.is-hidden
      .site-modal__heading Ваша заявка успешно отправлена!
      p.site-modal__text
        | В ближайшее время с вами свяжется наш менеджер, что бы обсудить детали
      button.button.site-modal__btn.modal-close
        | отлично
    .site-modal__forms
      .site-modal__heading Оставьте заявку
      form.site-modal__form(action="/")
        label.form__label.select-wrapper.mod-send-form.custom-select._required
          select(name="equipment-type" class="select js-custom-select" data-name="Выберите тип оборудования")
            option(value="Выберите модель оборудования" placeholder) Выберите тип оборудования
            option(value="first") first
            option(value="second") second
        label.form__label
          input(type="text" class="form__input input-reset" name="name" placeholder="Имя" data-parsley-required)
        label.form__label
          input(type="text" class="form__input input-reset" name="second-name" placeholder="Фамилия" data-parsley-required)
        label.form__label
          input(type="text" class="form__input input-reset" name="city" placeholder="Город" data-parsley-required)
        label.form__label
          input(type="tel" class="form__input input-reset" name="tel" placeholder="+7 (999) 999-99-99" data-parsley-required data-parsley-phone)
        label.form__label
          input(type="email" class="form__input input-reset" name="email" placeholder="Email" data-parsley-required)
        label.form__agreement-label
          input(type="checkbox" class="visually-hidden" name="agreement" data-parsley-required)
          span
            |	Согласен на обработку персональных данных
        button.button-reset.button.form__btn.site-modal__form-btn
          |	Отправить заявку


.modal__container.site-modal._callback(data-target="callbackSuccess")
  .modal__conten.site-modal__content
    button.button-reset.site-modal__close.modal-close(type="button")
      span
      span
    .site-modal__from-ok
      .site-modal__heading Ваша заявка успешно отправлена!
      p.site-modal__text
        | В ближайшее время с вами свяжется наш менеджер, что бы обсудить детали
      button.button.site-modal__btn.modal-close
        | отлично
