section.section-indent.top-offset.detail-page-content
  .site-container.detail-page__container.detail-page-content
    .grid-container
      .detail-page-content__block
      .detail-page-content__block
        .detail-page-content__tags
          span.detail-page-content__tag Домашние развлечения
          span.detail-page-content__tag Проекционные экраны
        h1.detail-page-content__heading Сеть гостиниц Art Family
    .grid-container.detail-page-content__main-img-wrapper
      .detail-page-content__main-img-block
      .detail-page-content__main-img-block
        img(data-src="images/detail-page/img1.jpg" src="#" alt="Проекционный экран установелнный на стене в гостинице" class="detail-page-content__main-img lazy")
      .detail-page-content__main-img-block
    .grid-container.detail-page-content__inner
      .detail-page-content__block
      .detail-page-content__block
        ._inner-block
          span.detail-page-content__location Партнер ООО «АЙТЕК», г. Санкт-Петербург
          p.detail-page-content__lead
            | Отели сети Art Family предлагают своим клиентам не только комфортабельный отдых, но и помощь в организации важных корпоративных мероприятий.
          p
            | Для нескольких конференц-залов отеля Art Family были использованы моторизованные проекционные экраны модели <span>Lumien Master Control</span>. Для нескольких конференц-залов отеля Art Family были использованы моторизованные проекционные экраны модели <span>Lumien Master Control</span>
          h2 Lumien Master Control
          p
            | Проекционные экраны <span>Lumien Master Control</span> – это универсальные решения, сочетающие в себе высокое качество и конкурентоспособную цену. Корпус квадратного сечения обеспечивает долгую и безотказную работу изделия, а проекционное полотно из стекловолокна Matte White Fiberglass - отличное качество изображения. Увеличенная верхняя чёрная кайма позволяет отрегулировать максимально комфортное положение рабочей области экрана.
          img(src="images/detail-page/img1.jpg" alt="")
          h2 Банкетный зал
          p
            | Проекционные экраны <span>Lumien Master Control</span> – это универсальные решения, сочетающие в себе высокое качество и конкурентоспособную цену. Корпус квадратного сечения обеспечивает долгую и безотказную работу изделия, а проекционное полотно из стекловолокна Matte White Fiberglass - отличное качество изображения. Увеличенная верхняя чёрная кайма позволяет отрегулировать максимально комфортное положение рабочей области экрана.
          img(src="images/detail-page/img1.jpg" alt="")
          figure.quote
            blockquote
              p
                | Эта модель уже на голову выше предыдущей модели экранов по той причине, что он оборудован гораздо более серьёзной обвязкой: в комплекте идут два пульта управления, как ИК, так и РЧ, есть триггерный вход, что позволяет его синхронизировать с проектором, настенный пульт управления, что весьма удобно. Он более тихий, полотно уже гораздо более качественное.
            figcaption
              | —  Питер Друкер
          h2 Lumien Master Business Control
          p
            | <strong>Lumien Master Business Control</strong> – это премиальные электроприводные экраны широкого спектра применения. Элегантный алюминиевый корпус скругленной формы отличается легкостью и обладает стильным дизайном. В комплект входит два вида систем дистанционного управления – радиочастотный и инфракрасный, а также приемник сигнала триггера. Бесшумный и долговечный мотор обеспечивает бесперебойную работу экрана.
          img(src="images/detail-page/img1.jpg" alt="")

  ._inner-block
