.equipment-filter {
  margin-bottom: 13rem;

  @include mq(sm) {
    margin-bottom: 8rem;
  }

  &__heading {
    br {
      display: none;

      @include mq(sm) {
        display: block;
      }
    }
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    column-gap: var(--grid-offset);
  }

  &__content-block {
    &:nth-child(1) {
      grid-column: 3 span;
    }

    &:nth-child(2) {
      grid-column: 5 span;
    }

    @include mq(lg) {
      grid-column: 10 span !important;

      &:nth-child(1) {
        margin-bottom: 4rem;
      }
    }

    @include mq(sm) {
      &:nth-child(1) {
        margin-bottom: 3rem;
      }
    }
  }

  &__form-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3.6rem 2rem;

    @include mq(sm) {
      justify-content: stretch;
      gap: 1rem;
    }
  }

  &__form-label {
    display: block;
    width: 100%;

    &.mod-small {
      width: calc(50% - 2rem);
    }

    &:nth-child(1) {
      @include mq(sm) {
        margin-bottom: 0;
      }
    }

    @include mq(sm) {
      width: 100% !important;
    }
  }

  &__form-btns {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 8.8rem;

    @include mq(sm) {
      margin-top: 3rem;
      justify-content: stretch;
    }
  }

  &__form-btn-reset {
    margin-right: 5.1rem;
    font: var(--font-btn);
    cursor: pointer;
    text-transform: uppercase;

    @include mq(sm) {
      order: 2;
      margin-right: 0;
      margin-left: 4rem;
    }
  }

  &__form-btn-send {
    padding: 3.8rem 9rem;

    @include mq(sm) {
      order: 1;
      padding: 2.8rem 6.6rem;
    }
  }
}
