-
  let news_arr = [
    {
      name:"Уникальные инсталляции с возможностями кастомизации",
      img: "img0"
    },
    {
      name:"Lumien Master Picture CSR – механизм плавного возврата обеспечит комфорт и безопас…",
      img: "img1"
    },
    {
      name:"Master Business Control – стильное решение для современного офиса",
      img: "img2"
    },
    {
      name:"Lumien Radiance: все о технологии отражения внешней засветки",
      img: "img3"
    },
    {
      name:"Lumien Radiance: все о технологии отражения внешней засветки",
      img: "img4"
    }
  ]

+news-slider("Новости", news_arr)
