section.section-indent.spheres(id="spheres")
  // мобилка
  .spheres__slider_mobile.js-tabs
    .spheres__mobile-layer.js-mobile-layer.lazyload(data-bg=`images/spheres-slider/img1.jpg` data-bg-fallback=`images/spheres-slider/img1.jpg`)
    .site-container
      span.site-second-heading.spheres__second-heading Сферы <br> применения
      .js-tab-content.spheres__mobile-tab.is-active
        h2.site-first-heading.spheres__mobiel-heading Домашние развлечения
        .spheres__txt-wrapper
          .spheres__txt
            ._line
            p
              | Стильные проекционные экраны Lumien предлагают уникальные решения премиального качества для оснащения домашних кинотеатров
          a.spheres__link(href="/")
            | Подробнее
  // мобилка END

  // десктоп
  .spheres__slider.swiper
    .swiper-wrapper
      .spheres__slide-item.swiper-slide.lazyload(data-bg=`images/spheres-slider/img1.jpg` data-bg-fallback=`images/spheres-slider/${second}.jpg`)
        .site-container.grid-container.spheres__container
          .grid-container__block
          .grid-container__block.spheres__content-info
            .spheres__content-info-block
              span.site-second-heading.spheres__second-heading.js-animated-heading Сферы <br> применения
            .spheres__content-info-block
              h2.site-first-heading.spheres__first-heading= item
              .spheres__txt-wrapper
                .spheres__txt
                  ._line
                  p
                    | Стильные проекционные экраны Lumien предлагают уникальные решения премиального качества для оснащения домашних кинотеатров
                a.spheres__link(href="/")
                  | Подробнее
  // десктоп END
