main.page-main.main
  section.top-offset.included-page.section-indent
    .site-container.grid-container
      .grid-container__block
      .grid-container__block.included-page__grid-container
        ._block
          h1.included-page__heading.section-heading-offset Регистрация оборудования Lumien в проект
          .included-page__text
            p
              | Мы рады оказать нашим партнерам всестороннюю поддержку при разработке проектов. Зарегистрируйте проект и получите дополнительную скидку и более выгодные условия закупки оборудования Lumien
        ._block
  include ../../parts/form.pug
