-
  let catalog_more_arr = [
    {
      name: "Интерактив&shy;ные дисплеи",
      text: "Профессиональные дисплеи последнего поколения, поддерживающие технологию мультитач (до 20 касаний), обладающие огромным количеством функций и потрясающим качеством изображения. Современное решение для бизнеса и образования.",
      img: "img2",
      count: "3",
      id: "screens"
    },
    {
      name: "Мебель",
      img: "furni",
      text: "Презентационная мебель Lumien представлена тремя моделями проекционных столиков, которые отличаются высоким качеством, надёжностью и сбалансированной ценой. Благодаря этим преимуществам, они могут широко использоваться при решении различных задач в сфере бизнеса и образования.",
      count: "3",
      id: "furniture"
    },
  ]

section.catalog-more.section-indent
  .site-container
    .catalog-more__container.grid-container
      for item in catalog_more_arr
        .catalog-more__item(id=item.id)
          +catalog-item(item.name, item.text, item.img, item.count)(class="catalog-cart_catalog-more")
