-
  let catalog_arr = [
    {
      name: "С электро&shy;приводом",
      text: "Широкий выбор экранов с выдвижением полотна при помощи электропривода. Проекционные экраны Lumien оснащены долговечным и тихим мотором и могут быть установлены как на стену, так и на потолок.",
      count: "8"
    },
    {
      name: "Для крупных инсталляций",
      text: "Lumien предлагает широкий выбор как моторизованных, так и стационарных экранов на раме больших размеров. Данные экраны пользуются большой популярностью в актовых залах, театрах, кинотеатрах, и на концертных площадках",
      count: "4"
    },
    {
      name: "Натяжные на раме",
      text: "Проекционные экраны Lumien на раме обладают идеальным натяжением полотна, обеспечивая изображение высокого разрешения. Элегантный внешний вид экранов Lumien на раме делает их незаменимыми для домашних кинотеатров.",
      count: "3"
    },
    {
      name: "С функцией отражения внешней застветки",
      text: "Lumien предлагает широкий выбор как моторизованных, так и стационарных экранов на раме больших размеров. Данные экраны пользуются большой популярностью в актовых залах, театрах, кинотеатрах, и на концертных площадках",
      count: "4"
    },
    {
      name: "Встраиваемые",
      text: "Встраиваемые проекционные экраны Lumien являются отличным решением для оснащения современных офисных пространств и домашнего использования. Корпус проекционного экрана эргономично встраивается в фальш-потолок, делая экран абсолютно невидимым в неразвернутом положении.",
      count: "1"
    },
    {
      name: "Рулонные ручные",
      text: "Эргономичные и экономичные проекционные экраны с ручным управлением. Подходят для использования в помещениях, где подключение к электросети невозможно или нежелательно.",
      count: "3"
    },
    {
      name: "Мобильные",
      text: "Проекционные экраны либо на штативе, либо на складной алюминиевой раме. Простая установка позволяет не затрачивать большое количество времени на инсталляцию, а также идеально подходят для использования в арендной сфере.",
      count: "3"
    },
    {
      name: "Аксессуары",
      text: "Выберите дополнительный аксессуар для дистанционного управления электроприводными проекционными экранами Lumien",
      count: "3"
    },
  ]

section.section-indent.common-catalog.top-offset
  .site-container.grid-container
    .grid-container__block
    .grid-container__block
      h1.common-catalog__heading Каталог
      .common-catalog__links-wrapper
        a.common-catalog__link(href="#canvases") Проекционные экраны
        a.common-catalog__link(href="#screens") Интерактивные дисплеи
        a.common-catalog__link(href="#furniture") Мебель презентационная
  .site-container.common-catalog__container.grid-container(id="canvases")
    for item, index in catalog_arr
      .common-catalog__item
        +catalog-item(item.name, item.text, `img${index}`, item.count)
  .site-container
    button.button-reset.button.common-catalog__show-more-btn
      span._descktop смотреть все экраны
      span._mobile смотреть все
