main.page-main.main
  section.top-offset.included-page.section-indent
    .site-container.grid-container
      .grid-container__block
      .grid-container__block
        h1.site-heading.section-heading-offset Форма регистрации проекта
        .included-page__text
          p
            | Зарегистрируйте проект и получите дополнительную скидку и более выгодные условия закупки оборудования Lumien
  include ../../parts/form.pug
