-
  let catalogCarts = [
    {
      imgs: ["img1", "img2"],
      tags: [{name: "Новинка", new: true}, {name: "Электропривод"}],
      name: "Eco Control",
      txt: "Экономичный моторизованный экран для крепления на стену или потолок",
      feats: ["Ширина экрана(см) 171–300", "Угол обзора 160°"]
    },
    {
      imgs: ["img2", "img1"],
      tags: [{name: "Натяжные на раме"}, {name: "Лидер продаж", sale: true}],
      name: "Cinema Thin Bezel",
      txt: "Натяжной экран c тонкой рамой толщиной 1 см",
      feats: ["Ширина экрана(см) 178–354", "Угол обзора 160°"]
    },
    {
      imgs: ["img2", "img1"],
      tags: [{name: "Натяжные на раме"}],
      name: "Cinema Control",
      txt: "Экран для домашнего кинотеатра с электроприводом",
      feats: ["Ширина экрана(см) 177–352", "Угол обзора 160°"]
    },
    {
      imgs: ["img2", "img1"],
      tags: [{name: "Натяжные на раме"}],
      name: "Master Wire Control",
      txt: "Электроприводные экраны на прочных стальных тросах, которые могут опускать экран до 5 метров",
      feats: ["Ширина экрана(см) до 4000", "Угол обзора 160°"]
    },
    {
      imgs: ["img2", "img1"],
      tags: [{name: "Натяжные на раме"}],
      name: "Master Wire Control",
      txt: "Электроприводные экраны на прочных стальных тросах, которые могут опускать экран до 5 метров",
      feats: ["Ширина экрана(см) до 4000", "Угол обзора 160°"]
    },
    {
      imgs: ["img2", "img1"],
      tags: [{name: "Натяжные на раме"}],
      name: "Master Wire Control",
      txt: "Электроприводные экраны на прочных стальных тросах, которые могут опускать экран до 5 метров",
      feats: ["Ширина экрана(см) до 4000", "Угол обзора 160°"]
    },
    {
      imgs: ["img2", "img1"],
      tags: [{name: "Натяжные на раме"}],
      name: "Master Wire Control",
      txt: "Электроприводные экраны на прочных стальных тросах, которые могут опускать экран до 5 метров",
      feats: ["Ширина экрана(см) до 4000", "Угол обзора 160°"]
    }
  ]

  let catalogInpts = [
    {
      name: "Диагональ",
      inpts: [
        {
          name: "Все",
          slug: "all"
        },
        {
          name: "65 дюймов",
          slug: "65 inches"
        },
        {
          name: "75 дюймов",
          slug: "75 inches"
        },
        {
          name: "86 дюймов",
          slug: "86 inches"
        }
      ]
    },
  ]

  let top_filter = [
    {
      name: "Eco",
      descr: "15 товаров",
      img: "top-filter-icon1"
    },
    {
      name: "Cinema",
      descr: "15 товаров",
      img: "top-filter-icon2"
    },
    {
      name: "Master",
      descr: "10 товаров",
      img: "top-filter-icon3"
    },
    {
      name: "Radiance",
      descr: "10 товаров",
      img: "top-filter-icon4"
    },
    {
      name: "Radiance",
      descr: "10 товаров",
      img: "top-filter-icon5"
    },
    {
      name: "Аксессуары",
      descr: "10 товаров",
      img: "top-filter-icon6"
    },
  ]

  let ategories = [
    {
      name: "Домашние развлечения",
      slug: "cat"
    },
    {
      name: "Музеи и выставки",
      slug: "cat"
    },
    {
      name: "Бары и рестораны",
      slug: "cat"
    },
    {
      name: "Образование",
      slug: "cat"
    },
    {
      name: "Образование",
      slug: "cat"
    },
    {
      name: "VR",
      slug: "cat"
    },
    {
      name: "Госсектор",
      slug: "cat"
    },
    {
      name: "Развлекательные площадки",
      slug: "cat"
    },
    {
      name: "Кинотеатр",
      slug: "cat"
    },
    {
      name: "Стадионы и арены",
      slug: "cat"
    },
    {
      name: "Актовые залы",
      slug: "cat"
    }
  ]
