.page-about-text {
  &__content-heading {
    max-width: 97.4rem;
    margin-bottom: 3rem;

    b,
    strong {
      color: var(--color-accent);
    }
  }

  &__content {
    font: var(--font-body-S);
    max-width: 61.6rem;

    p {
      margin-bottom: 3rem;

      &:nth-last-of-type(1) {
        margin-bottom: 0;
      }
    }
  }
}

.page-about-image {
  background-image: url(../images/page-about/img-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90.6rem;
  padding: 6rem 0;

  @include mq(md) {
    height: 54.6rem;
  }

  @include mq(sm) {
    background-image: none !important;
    height: auto;
    padding: 0;
  }

  &__container {
    position: relative;

    @include mq(sm) {
      display: block;
    }
  }

  &__bg-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 1.4rem;
    display: none;

    @include mq(sm) {
      display: block;
      height: 23rem;
    }
  }

  p {
    font: var(--font-title-4);
    color: var(--color-white);
    max-width: 30rem;

    @include mq(sm) {
      position: absolute;
      top: 15px;
      left: 30px;
      font: 700 1.4rem/1.6rem var(--second-ff);
      letter-spacing: -0.02em;
      max-width: 14.5rem;
    }
  }
}

.page-about-numbers {
  .about-company__heading {
    margin-bottom: 4.6rem;
  }

  .about-company__list {
    display: flex;
    gap: 8rem;

    @include mq(md) {
      flex-wrap: wrap;
      gap: 4rem;
      margin-bottom: 0;
    }

    @include mq(sm) {
      gap: 1.4rem;
    }
  }

  .about-company__item {
    margin: 0;

    @include mq(md) {
      width: calc(33.3% - 4rem);

      &:nth-child(4) {
        order: 1;
        width: 100%;
      }

      &:nth-child(1) {
        order: 2;
      }

      &:nth-child(2) {
        order: 3;
      }

      &:nth-child(3) {
        order: 4;
      }
    }

    @include mq(sm) {
      width: calc(33.3% - 1.2rem);

      .about-company__num {
        font-size: 4.1rem;
      }
    }
  }
}

.page-about-info {
  &__content-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: var(--grid-offset);

    ._block {
      &:nth-child(1) {
        grid-column: 7 span;
      }

      &:nth-child(2) {
        grid-column: 3 span;
      }

      @include mq(lg) {
        grid-column: 10 span !important;
      }
    }
  }

  &__heading {
    margin-bottom: 3rem;

    b,
    strong {
      color: var(--color-accent);
    }
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 5rem;

    @include mq(sm) {
      flex-direction: column;
      gap: 1rem;
      margin-bottom: 2rem;
      align-items: flex-start;
    }
  }

  &__item {
    padding: 1rem;
    border-radius: 2rem;
    border: 1px solid #ACACAC;
    color: var(--text-color);
    font: var(--font-body-S);

    @include mq(sm) {
      font: var(--font-body-XS);
    }
  }

  &__content {
    h3 {
      font: 700 2.6rem/3.3rem var(--second-ff);
      margin: 3rem 0;
      max-width: 78.8rem;

      @include mq(sm) {
        font: 700 2rem/2.6rem var(--second-ff);
      }
    }

    p {
      font: 400 2rem/2.8rem var(--second-ff);
      margin: 3rem 0 5rem;

      @include mq(sm) {
        font: var(--font-body-S);
        margin: 3rem 0;
      }

      b,
      strong {
        color: var(--color-accent);
      }

      &:nth-last-of-type(1) {
        margin-bottom: 0;
      }
    }

    img {
      display: block;
      width: 100%;
      height: auto;
      object-fit: cover;
      margin: 5rem 0 7rem 0;
      border-radius: 2.5rem;

      @include mq(sm) {
        height: 21.6rem;
        margin: 3rem 0 6rem;
        border-radius: 1.2rem;
      }

      &:nth-last-of-type(1) {
        margin-bottom: 0;
      }
    }
  }

  &__video {
    position: relative;
    width: 100%;
    height: 58rem;
    overflow: hidden;
    border-radius: 2.5rem;
    cursor: pointer;
    margin: 5rem 0 7rem;

    @include mq(sm) {
      overflow: visible;
    }

    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 2;
      width: 8.5rem;
      height: 7.8rem;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.79);
      transform: translate(-50%, -50%);
      content: "";

      @include mq(sm) {
        width: 7.8rem;
        height: 7.8rem;
      }
    }

    &::after {
      position: absolute;
      top: 50%;
      left: 50.3%;
      ;
      z-index: 2;
      width: 0;
      height: 0;
      border: 0 solid transparent;
      border-bottom-width: 16px;
      border-top-width: 16px;
      border-left: 28px solid var(--color-accent);
      transform: translate(-50%, -50%);
      content: "";
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      margin: 0;
    }

    @include mq(sm) {
      height: 23rem;
      border-radius: 1.2rem;
      margin: 2rem 0 6rem;
    }
  }

  &__video-caption {
    position: absolute;
    top: 4.5rem;
    left: 4.5rem;
    color: var(--color-white);
    max-width: 17.9rem;
    font: var(--font-body-M);

    @include mq(sm) {
      font: var(--font-body-XXS);
      top: auto;
      left: 50%;
      margin-right: -50%;
      transform: translateX(-50%);
      bottom: -1.9rem;
      color: var(--text-color);
      max-width: 90%;
    }
  }
}


.page-about-history {
  padding: 12rem 0 13.6rem;
  background-color: #F7F7F7;
  --transitionTime: 400ms;

  @include mq(sm) {
    padding: 8rem 0;
  }

  &__heading-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5rem;

    .slider-nav__btn {
      background-color: transparent;
    }

    @include mq(sm) {
      .slider-nav {
        display: none;
      }
    }
  }


  &__date-slider-wrapper {
    height: 34.1rem;
    width: 34.1rem;
    margin-bottom: 5rem;
    overflow: visible;

    @include mq(lg) {
      margin-left: 7rem;
    }

    @include mq(md) {
      margin-left: 0;
    }

    @include mq(sm) {
      width: 16rem;
      height: 16rem;
    }
  }

  &__date-slider {
    height: 100%;
    overflow: visible;

    .swiper-wrapper {
      align-items: center;
    }

    .swiper-slide {
      display: flex;
      align-items: center;
      width: 34.1rem;
      height: 34.1rem;
      transition: all var(--transitionTime);

      @include mq(sm) {
        width: 16rem;
        height: 16rem;
      }

      &.swiper-slide-active {
        width: 34.1rem;
        height: 34.1rem;

        .page-about-history__date-content {
          font-size: 8rem;
        }

        @include mq(sm) {
          width: 16rem;
          height: 16rem;

          .page-about-history__date-content {
            font-size: 4rem;
          }
        }
      }

      &.swiper-slide-prev {
        width: 26.1rem;
        height: 26.1rem;

        .page-about-history__date-content {
          font-size: 6rem;
        }

        @include mq(md) {
          width: 34.1rem;
          height: 34.1rem;

          .page-about-history__date-content {
            font-size: 8rem;
          }
        }

        @include mq(sm) {
          width: 16rem;
          height: 16rem;

          .page-about-history__date-content {
            font-size: 4rem;
          }
        }
      }

      &.swiper-slide-next {
        width: 26.1rem;
        height: 26.1rem;


        .page-about-history__date-content {
          font-size: 6rem;
        }

        @include mq(sm) {
          width: 12rem;
          height: 12rem;

          .page-about-history__date-content {
            font-size: 3.5rem;
          }
        }
        +.swiper-slide {
          width: 20rem;
          height: 20rem;

          .page-about-history__date-content {
            font-size: 4rem;
          }

          @include mq(sm) {
            width: 8rem;
            height: 8rem;

            .page-about-history__date-content {
              font-size: 3rem;
            }
          }

          +.swiper-slide {
            width: 13.6rem;
            height: 13.6rem;

            .page-about-history__date-content {
              font-size: 3rem;
            }

            @include mq(sm) {
              width: 8rem;
              height: 8rem;

              .page-about-history__date-content {
                font-size: 3rem;
              }
            }


            +.swiper-slide {
              width: 8rem;
              height: 8rem;

              .page-about-history__date-content {
                font-size: 2rem;
              }

              @include mq(sm) {
                width: 8rem;
                height: 8rem;

                .page-about-history__date-content {
                  font-size: 3rem;
                }
              }

              +.swiper-slide {
                width: 8rem;
                height: 8rem;

                .page-about-history__date-content {
                  font-size: 2rem;
                }

                @include mq(sm) {
                  width: 8rem;
                  height: 8rem;

                  .page-about-history__date-content {
                    font-size: 3rem;
                  }
                }

                +.swiper-slide {
                  width: 8rem;
                  height: 8rem;

                  .page-about-history__date-content {
                    font-size: 2rem;
                  }

                  @include mq(sm) {
                    width: 8rem;
                    height: 8rem;

                    .page-about-history__date-content {
                      font-size: 3rem;
                    }
                  }

                  +.swiper-slide {
                    width: 8rem;
                    height: 8rem;

                    .page-about-history__date-content {
                      font-size: 2rem;
                    }

                    @include mq(sm) {
                      width: 8rem;
                      height: 8rem;

                      .page-about-history__date-content {
                        font-size: 3rem;
                      }
                    }

                    +.swiper-slide {
                      width: 8rem;
                      height: 8rem;

                      .page-about-history__date-content {
                        font-size: 2rem;
                      }

                      @include mq(sm) {
                        width: 8rem;
                        height: 8rem;

                        .page-about-history__date-content {
                          font-size: 3rem;
                        }
                      }

                      +.swiper-slide {
                        width: 8rem;
                        height: 8rem;

                        .page-about-history__date-content {
                          font-size: 2rem;
                        }

                        @include mq(sm) {
                          width: 8rem;
                          height: 8rem;

                          .page-about-history__date-content {
                            font-size: 3rem;
                          }
                        }

                        +.swiper-slide {
                          width: 8rem;
                          height: 8rem;

                          .page-about-history__date-content {
                            font-size: 2rem;
                          }

                          @include mq(sm) {
                            width: 8rem;
                            height: 8rem;

                            .page-about-history__date-content {
                              font-size: 3rem;
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  &__text-content {
    position: relative;
    max-width: 52.4rem;
    padding-left: 13.4rem;
    font: 400 2rem/2.8rem var(--main-ff);

    &::before {
      position: absolute;
      top: 1.4rem;
      left: 0;
      height: 0.1rem;
      width: 10.7rem;
      background-color: currentColor;
      content: "";
    }

    @include mq(sm) {
      padding-left: 8.9rem;
      font: var(--font-body-S);

      &::before {
        width: 7.9rem;
      }
    }
  }

  &__date-content {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--color-purple-light);
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    font: 300 2rem/1 var(--second-ff);
    transition: all var(--transitionTime);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
