.how-choose-screen-content {
  &__text {
    font: var(--font-body-M);
    margin-bottom: 5rem;
    max-width: 83.5rem;
    color: var(--color-darken);

    @include mq(sm) {
      max-width: 100%;
      font: var(--font-body-S);
    }
  }

  &__heading {
    font: var(--font-title-4);
    margin-bottom: 3rem;

    @include mq(sm) {
      font: var(--font-title-mobile-4);
      line-height: 2.6rem;
      font-weight: 700;
      margin-bottom: 2.5rem;
    }
  }

  &__container {
    .grid-container__block {
      &:nth-child(2) {
        display: grid;
        grid-template-columns: 8fr 2fr;
        gap: var(--grid-offset);

        @include mq(lg) {
          display: block;
        }
      }
    }
  }

  &__list {
    margin-bottom: 6.4rem;

    @include mq(sm) {
      margin-bottom: 5rem;
    }

    li {
      position: relative;
      font: var(--font-body-S);
      margin-bottom: 1rem;
      color: var(--text-color);
      padding-left: 2rem;

      &:last-child {
        margin-bottom: 0;
      }

      &::before {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 0.5rem;
        height: 0.5rem;
        background-color: currentColor;
        border-radius: 50%;
        content: "";
      }

      @include mq(sm) {
        font: var(--font-body-XS);
        margin-bottom: 1.3rem;
      }
    }
  }
}

.how-choose-screen__intro {
  background-color: var(--color-bg-input);

  @include mq(md) {
    background-size: 130%;
    background-position: center bottom;
  }
}
