section.section-indent.top-offset.detail-page-content
  .site-container.detail-page__container.detail-page-content
    .grid-container
      .detail-page-content__block
      .detail-page-content__block
        .detail-page-content__tags
          span.detail-page-content__tag._date 09.03.2021
          span.detail-page-content__tag Проекционные экраны
        h1.detail-page-content__heading Lumien Radiance Thin Bezel в действии на ISR 2020
    .grid-container.detail-page-content__main-img-wrapper
      .detail-page-content__main-img-block
      .detail-page-content__main-img-block
        img(data-src="images/news/cart-img-main.jpg" src="#" alt="Проекционный экран установелнный на стене в гостинице" class="detail-page-content__main-img lazy")
      .detail-page-content__main-img-block
    .grid-container.detail-page-content__inner
      .detail-page-content__block
      .detail-page-content__block
        ._inner-block
          span.detail-page-content__location Партнер ООО «АЙТЕК», г. Санкт-Петербург
          p.detail-page-content__lead
            | 27–29 октября 2020 года в рамках выставки Integrated Systems Russia на стенде компании AUVIX, официального дистрибьютора продукции Lumien, был продемонстрирован проекционный экран модели <strong>Radiance Thin Bezel</strong> с ALR-полотном для ультракороткофокусной проекции Radiance 0.46 UST.
          p
            | Экран был инсталлирован совместно с проектором LG CineBeam 4K Laser HU85LS. Предлагаем вам ознакомиться с фотографиями проекции на экран <strong>Lumien Radiance Thin Bezel</strong> с полотном Radiance 0.46 UST, где можно увидеть работу отражения внешней засветки, как с включёнными светильниками прямо над экраном, так и без.
          h2 Специалисты компании AUVIX поделились с нами своими комментариями о представленном экране
          p
            | 27–29 октября 2020 года в рамках выставки Integrated Systems Russia на стенде компании AUVIX, официального дистрибьютора продукции Lumien, был продемонстрирован проекционный экран модели <strong>Radiance Thin Bezel</strong> с ALR-полотном для ультракороткофокусной проекции Radiance 0.46 UST.
          .detail-page-content__video.js-play-video(data-video-url="https://www.youtube.com/watch?v=WsDyRAPFBC8")
            img(src="images/news/cart-img-main.jpg" alt="")

          p
            | 27–29 октября 2020 года в рамках выставки Integrated Systems Russia на стенде компании AUVIX, официального дистрибьютора продукции Lumien, был продемонстрирован проекционный экран модели <strong>Radiance Thin Bezel</strong> с ALR-полотном для ультракороткофокусной проекции Radiance 0.46 UST.

          figure.quote
            blockquote
              p
                | Секрет японцев в том, что они не делают доклады о работе, а работают. Цитата в новости
            figcaption
              | —  Питер Друкер
          h3 Специалисты компании AUVIX также поделились с нами своими комментариями о представленном экране:
          p
            | Экран был инсталлирован совместно с проектором LG CineBeam 4K Laser HU85LS. Предлагаем вам ознакомиться с фотографиями проекции на экран <strong>Lumien Radiance Thin</strong> Bezel с полотном Radiance 0.46 UST

          figure.img-caption
            img(src="images/news/cart-img-main.jpg" alt="")
            figcaption Проекция на Lumien Radiance Thin Bezel с выключенными светильниками

          figure.img-caption
            img(src="images/news/cart-img-main.jpg" alt="")
            figcaption Проекция на Lumien Radiance Thin Bezel с включенными светильниками

          h3 Ключевые характеристики
          ul
            li Были нарушены правила хранения, транспортировки, установки или эксплуатации изделия
            li Изделие имеет механические повреждения
            li Изделие ремонтировалось или подвергалось модификации не в условиях официального СЦ
            li Неисправность изделия вызвана стихийными бедствиями, пожарами, бытовыми или другими факторами, не зависящими от действий изготовителя


  ._inner-block
