-
  let news_arr = [
    {
      name:"Lumien Radiance: отражение внешней засветки выводит инсталляцию на новый уровень",
      img: "img5"
    },
    {
      name:"Lumien Radiance Thin Bezel в действии на ISR 2020",
      img: "img6"
    },
    {
      name:"Master Recessed Control – must have для корпоративного сектора",
      img: "img7"
    },
    {
      name:"Lumien Radiance: все о технологии отражения внешней засветки",
      img: "img8"
    },
    {
      name:"Lumien Radiance: все о технологии отражения внешней засветки",
      img: "img8"
    }
  ]

+news-slider("Читайте также", news_arr)
