-
  let equpment_page_arr = [
    {
      imgs: ["img1", "img2"],
      tags: [{name: "Новинка", new: true}],
      name: "Master Recessed Control",
      txt: "Электроприводные экраны, встраиваемые в потолок",
      feats: ["Ширина экрана (см) 215–362", "Угол обзора 160°"]
    },
    {
      imgs: ["img2", "img1"],
      tags: [{name: "Натяжные на раме"}],
      name: "Cinema Home",
      txt: "Натяжные экраны на раме для домашнего кинотеатра.",
      feats: ["Ширина экрана (см) 193-370", "Угол обзора 160°"]
    },
  ]

+slider-equipment("Рекомендуемые модели", equpment_page_arr)
