section.section-indent.spheres-detail-about
  .site-container.grid-container.spheres-detail-about__container
    .spheres-detail-about__container-block
    .spheres-detail-about__container-block.spheres-detail-about__content
      .spheres-detail-about__content-block
        .spheres-detail-about__content-wrapper
          p.spheres-detail-about__content-heding
            | Кафе, бары, рестораны&nbsp;&mdash; места для общения и&nbsp;совместного досуга людей
          p.spheres-detail-about__content-text
            | В&nbsp;модельном ряду Lumien можно найти решение для зала любого размера и&nbsp;выбрать подходящий способ инсталляции&nbsp;&mdash; настенный, потолочный, встроенный или мобильный.
          p.spheres-detail-about__content-text
            | Благодаря современному лаконичному дизайну экраны Lumien легко впишутся в&nbsp;интерьер, а&nbsp;современные проекционные полотна обеспечат высококачественную картинку.
          a(href="/" class="spheres-detail-about__content-link") Подходящие модели
      .spheres-detail-about__content-block
        .spheres-detail-about__item
          img(src="images/spheres-item1.jpg" alt="" class="spheres-detail-about__item-img")
          p
            | Проведение спортивных трансляций
        .spheres-detail-about__item
          img(src="images/spheres-item2.jpg" alt="" class="spheres-detail-about__item-img")
          p
            | Просмотр презентаций и мероприятий на праздниках
        .spheres-detail-about__item
          img(src="images/spheres-item1.jpg" alt="" class="spheres-detail-about__item-img")
          p
            | Показ фильмов
