section.section-indent.top-offset.spheres-detail-intro(style="background-image: url(images/spheres-detail-intro/img-bg.jpg)")
  .site-container.grid-container.spheres-detail-intro__container
    .spheres-detail-intro__container-block
    .spheres-detail-intro__container-block
      p.spheres-detail-intro__legend Сферы применения
    .spheres-detail-intro__container-block
      h1.site-heading.spheres-detail-intro__heading Бары <br> и рестораны
      .spheres-detail-intro__text
        p
          | Функциональность и дизайн проекционных экранов Lumien помогает усовершенствовать обустройства современных баров и ресторанов
