section.section-indent.spheres-detail-slider
  .site-container.grid-container.spheres-detail-slider__container
    .spheres-detail-slider__container-block
    .spheres-detail-slider__container-block
      .slider-nav.spheres-detail-slider__nav
        button.slider-nav__btn.button-reset.js-detail-btn-prev
          +icon-mono("shevron-left")(width="9" height="13" class="slider-nav__btn-icon")
        button.slider-nav__btn.button-reset.js-detail-btn-next
          +icon-mono("shevron-right")(width="9" height="13" class="slider-nav__btn-icon")
      .spheres-detail-slider__wrapper
        .swiper.spheres-detail-slider__slider
          .swiper-wrapper
            - for (let i = 0; i<3; i++)
              .swiper-slide.spheres-detail-slider__slide
                img(data-src=`images/spheres-detail-slider/img${i}.jpg` src="#" alt="" class="spheres-detail-slider__img lazy")
    .spheres-detail-slider__container-block
